body {
  font-family:  Arial,Calibri,Helvetica;
  background-image: url("img/wordart50black.png");
  background-attachment: fixed;
  background-size: cover;
}
.base {
  position:relative;
  padding: 15px;
  background-color: #fcfcfc;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border:1px solid black;
  width:75%;
}
.heading {
  text-align:center;
}
.history {

}
.creating {

}
.kbgrid {
  width: 270px;
  height: 455px;
}
li {

}
